@model PetHotel.Core.Models.UserModels.ProfileViewModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<body>
<p>User: @Model.UserName</p>
<p>Name: @Model.FirstName</p>
<p>Last name: @Model.LastName</p>
<p>Email: @Model.Email</p>
<p>Phone: @Model.PhoneNumber</p>
<p></p>
<p>MY PETS</p>
@foreach (var pet in Model.Pets)
{
    <ul>
        <li>
    <p>@pet.Name</p>
    <p>Type: @pet.PetType</p>
    <p>Alergies: @pet.Alergies</p>
    <p>Age: @pet.Age</p>
        </li>
         <form asp-area="Client" asp-controller="Pet" asp-action="Delete">
        <input type="hidden" asp-for="@pet.Id" name="Id"/>
        <input type="submit" value="Delete" class="btn btn-danger" /> 
    </form>
    <form asp-area="Client" asp-controller="Pet" asp-action="Edit" method="get">
        <input type="hidden" asp-for="@pet.Id" name="Id" />
        <input type="submit" value="Edit" class="btn btn-outline-info" />
    </form>
    </ul>
}

</body>
