@model PetHotel.Core.Models.HotelModels.GuestDetailedViewModel

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<body>
     <form asp-action="CheckIn">
    @Html.HiddenFor(x => x.CheckInDate)
    @Html.HiddenFor(x => x.CheckOutDate)
    @Html.HiddenFor(x => x.ReservationId)
    @Html.HiddenFor(x => x.PetId)
    @Html.HiddenFor(x => x.PetName)
    @Html.HiddenFor(x => x.UserId)
    @Html.HiddenFor(x => x.UserName)
    @Html.HiddenFor(x => x.PetType)
    @Html.HiddenFor(x => x.Status)
    <div class="d-flex justify-content-center">
    <div class="card " style="width: 50rem;">
        <div class="card-body">
            <h3 class="card-title text-center">@Model.PetName</h3>
            <p class="card-text"><span class="fw-bold">Type: </span>@Model.PetType</p>
            <p class="card-text"><span class="fw-bold">Owner: </span>@Model.UserName</p>
            <p class="card-text"><span class="fw-bold">Admission day: </span>@Model.CheckInDate</p>
            <p class="card-text"><span class="fw-bold">Departure day: </span>@Model.CheckOutDate</p>
                
               <div class="form-group">
                    <input type="submit" value="CheckIn" asp-area="Employee" asp-controller="Hotel" class="btn btn-primary" />
               </div>
        </div>
    </div>
</div>
</form>
</body>

