@model IEnumerable<PetHotel.Core.Models.HotelModels.GuestDetailedViewModel>

@{
    Layout = "/Views/Shared/_LayoutClient.cshtml";
}

<body>
    <h3>Guests didn't arrive</h3>
    @foreach (var pet in Model)
    {
             <ul class="list-group">
         <li class="list-group-item list-group-item-primary">
             <p>Guest</p>
             @pet.PetName, @pet.PetType, Allergies: @pet.Allergies - Stay: @pet.CheckInDate-@pet.CheckOutDate, @pet.Status, @pet.ReservationId, Owner: @pet.UserName</li>
        </ul>
            <p> 
                <a asp-controller="Hotel" asp-area="Employee" asp-action="CheckIn" asp-route-id="@pet.ReservationId">Check In</a>  
                <a asp-controller="Hotel" asp-area="Employee" asp-action="Cancel" asp-route-id="@pet.ReservationId">Cancel</a>
            </p>

    }
</body>
