@model IEnumerable<PetHotel.Core.Models.HotelModels.GuestDetailedViewModel>

@{
    Layout = "/Views/Shared/_LayoutClient.cshtml";
}

<body>
    <h3>Expected for Today</h3>
    @foreach (var pet in Model)
    {
        <ul class="list-group">
         <li class="list-group-item list-group-item-primary">
             <p>Guest:  @pet.PetName, @pet.PetType. Allergies: @pet.Allergies</p>
                 Stay: @pet.CheckInDate-@pet.CheckOutDate, @pet.Status, @pet.ReservationId,
                <p>Owner: @pet.UserName</p></li>
        </ul>
        <p> 
            <a asp-controller="Hotel" asp-area="Employee" asp-action="CheckIn" asp-route-id="@pet.ReservationId">Check In</a>  
            <a asp-controller="Hotel" asp-area="Employee" asp-action="Cancel" asp-route-id="@pet.ReservationId">Cancel</a>
        </p>
        
    }
</body>