@using PetHotel.Common;
@using PetHotel.Core.Models.HotelModels;
@model IEnumerable<PetHotel.Core.Models.HotelModels.GuestBasicViewModel>

@{
    Layout = "/Views/Shared/_Layout.cshtml";
   }
    
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
</head>

@*@foreach (var pet in Model)
{
    <ul class="list-group">
        <li class="list-group-item list-group-item-primary">@pet.PetName, @pet.PetType - @pet.CheckInDate-@pet.CheckOutDate</li>
    </ul>
    <form asp-area="Client" asp-controller="Hotel" asp-action="Cancel">
        <input type="hidden" asp-for="@pet.ReservationId" name="id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
   <form asp-area="Client" asp-controller="Hotel" asp-action="Edit" method="get">
        <input type="hidden" asp-for="@pet.PetId" name="Id" />
        <input type="submit" value="Edit" class="btn btn-outline-info" />
    </form>
}*@
<body>
    <div class="container">
        <h2>My reservations</h2>
        <p>Plesase select a menu option.</p>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#home" class="btn btn-info" role="button">Currently in hotel</a></li>
            <li><a href="#menu1" class="btn btn-info" role="button">Expected</a></li>
            <li><a href="#menu2" class="btn btn-info" role="button">Previous stays</a></li>
        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <h3>Currently in hotel</h3>
                 @foreach (var pet in Model)
                {
                   if (pet.Status == GlobalConstants.InProgressStatus)
                    {
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-primary">@pet.PetName, @pet.PetType - @pet.CheckInDate-@pet.CheckOutDate</li>
                            </ul>
                            <form asp-area="Client" asp-controller="Hotel" asp-action="Cancel">
                          <input type="hidden" asp-for="@pet.ReservationId" name="id" />
                          <input type="submit" value="Delete" class="btn btn-danger" />
                            </form>
                            <form asp-area="Client" asp-controller="Hotel" asp-action="Edit" method="get">
                                 <input type="hidden" asp-for="@pet.PetId" name="Id" />
                            <input type="submit" value="Edit" class="btn btn-outline-info" />
                            </form>
                    } 
                }
                
            </div>
            <div id="menu1" class="tab-pane fade">
                <h3>Reservations</h3>
                @foreach (var pet in Model)
                {
                   if (pet.Status == GlobalConstants.ExpectedStatus)
                    {
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-primary">@pet.PetName, @pet.PetType - @pet.CheckInDate-@pet.CheckOutDate</li>
                            </ul>
                            <form asp-area="Client" asp-controller="Hotel" asp-action="Cancel">
                          <input type="hidden" asp-for="@pet.ReservationId" name="id" />
                          <input type="submit" value="Delete" class="btn btn-danger" />
                         </form>
                         <form asp-area="Client" asp-controller="Hotel" asp-action="Edit" method="get">
                                 <input type="hidden" asp-for="@pet.PetId" name="Id" />
                            <input type="submit" value="Edit" class="btn btn-outline-info" />
                         </form>
                    } 
                }
            </div>
            <div id="menu2" class="tab-pane fade">
                <h3>Previous stays</h3>
                @foreach (var pet in Model)
                {
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-primary">@pet.PetName, @pet.PetType - @pet.CheckInDate-@pet.CheckOutDate</li>
                        </ul>
                    if (pet.Status == GlobalConstants.CompletedStatus)
                    {
                        <form asp-area="Client" asp-controller="Hotel" asp-action="Cancel">
                            <input type="hidden" asp-for="@pet.ReservationId" name="id" />
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </form>
                        <form asp-area="Client" asp-controller="Hotel" asp-action="Edit" method="get">
                            <input type="hidden" asp-for="@pet.PetId" name="Id" />
                            <input type="submit" value="Edit" class="btn btn-outline-info" />
                        </form>
                    }
                }
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $(".nav-tabs a").click(function () {
                $(this).tab('show');
            });
        });
    </script>

</body>



